{
  "presets": [
    ["env", {
      "browsers": ["> 3%, last 2 versions, not ie < 11"],
      "modules": false
    }],
    "flow"
  ],
  "plugins": [
    "transform-runtime",
    "external-helpers",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "browsers": ["> 3%, last 2 versions, not ie < 11"]
        }],
        "flow"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
      ],
    }
  }
}
