{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "xo-space/esnext",
    "xo-space/browser",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ]
}
